bin/
obj/
TestResults/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*/Properties/launchSettings.json*
.env
.vscocde
Zork.sln.DotSettings.user
Zork.sln.DotSettings
.vscode/launch.json
.vscode/tasks.json
.DS_Store
.claude/.DS_Store
.claude/docs/
shared-web-types/node_modules/
node_modules/
