<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c8bc5e84-0b55-4b69-8146-7880a54a4050/resourceGroups/ZorkRg/providers/Microsoft.Web/sites/zork</ResourceId>
    <ResourceGroup>ZorkRg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://zork.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>34eda616-b69a-44ff-ba00-0593cb756bb1</ProjectGuid>
    <PublishUrl>https://zork.scm.azurewebsites.net/</PublishUrl>
    <UserName>$zork</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>