# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Deploy To AWS

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version number to deploy (e.g., 1.0.0)'
        required: true
        default: '1.0.0'

permissions:
  contents: write   # This is required to create/push the new git tag

jobs:
  deployment:

    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: AWS CLI
        run: dotnet tool install -g Amazon.Lambda.Tools

      - name: Deploy AWS Lambda Zork
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd /home/runner/work/ZorkAI/ZorkAI/Lambda/src/Lambda
          dotnet lambda deploy-serverless -sb zorkai-assets -sn ZorkStack --region us-east-1

      - name: Deploy AWS Lambda Planetfall
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd /home/runner/work/ZorkAI/ZorkAI/Planetfall-Lambda/src/Planetfall-Lambda
          dotnet lambda deploy-serverless -sb planetfallai-assets -sn PlanetfallStack --region us-east-1

      - name: Overwrite file Zork
        uses: "DamianReeves/write-file-action@master"
        with:
          path: /home/runner/work/ZorkAI/ZorkAI/zorkweb.client/config.json
          write-mode: overwrite
          contents: |
            {
              "base_url": "https://bxqzfka0hc.execute-api.us-east-1.amazonaws.com/Prod/ZorkOne",
              "version": "${{ github.event.inputs.version }}"
            }

      - name: Overwrite file Planetfall
        uses: "DamianReeves/write-file-action@master"
        with:
          path: /home/runner/work/ZorkAI/ZorkAI/planetfallweb.client/config.json
          write-mode: overwrite
          contents: |
            {
              "base_url": "https://6kvs9n5pj4.execute-api.us-east-1.amazonaws.com/Prod/Planetfall",
              "version": "${{ github.event.inputs.version }}"
            }

      - name: Build Front End Zork
        run: |
          cd /home/runner/work/ZorkAI/ZorkAI/zorkweb.client
          npm run build

      - name: Build Front End Planetfall
        run: |
          cd /home/runner/work/ZorkAI/ZorkAI/planetfallweb.client
          npm run build

      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync files to S3 bucket for Zork
        run: |
          aws s3 sync /home/runner/work/ZorkAI/ZorkAI/zorkweb.client/dist s3://zork-ai.com --delete

      - name: Sync files to S3 bucket for Planetfall
        run: |
          aws s3 sync /home/runner/work/ZorkAI/ZorkAI/planetfallweb.client/dist s3://planetfall.ai --delete

      - name: Invalidate Zork CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id E2RTQPAFHN8ORD --paths "/*"    

      - name: Invalidate Planetfall CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id EJYJYZ3BM3O3Z --paths "/*"    
          
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.event.inputs.version }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
