name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  dotnet-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore .NET dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: .NET tests
      run: dotnet test --no-build --verbosity normal
  
  zork-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies for zorkweb.client
      working-directory: ./zorkweb.client
      run: npm ci

    - name: Install Jest
      working-directory: ./zorkweb.client
      run: npm install jest

    - name: Install Playwright browsers
      working-directory: ./zorkweb.client
      run: npx playwright install --with-deps

    - name: Playwright tests
      working-directory: ./zorkweb.client
      run: npx playwright test

    - name: Upload Playwright test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: zorkweb-playwright-report
        path: zorkweb.client/playwright-report/
        retention-days: 30

    - name: UI Unit tests
      working-directory: ./zorkweb.client
      run: npx jest

  planetfallweb-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies for planetfallweb.client
      working-directory: ./planetfallweb.client
      run: npm ci

    - name: Install Jest
      working-directory: ./planetfallweb.client
      run: npm install jest

    - name: Install Playwright browsers
      working-directory: ./planetfallweb.client
      run: npx playwright install --with-deps

    - name: Playwright tests
      working-directory: ./planetfallweb.client
      run: npx playwright test

    - name: Upload Playwright test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: planetfallweb-playwright-report
        path: planetfallweb.client/playwright-report/
        retention-days: 30

    - name: UI Unit tests
      working-directory: ./planetfallweb.client
      run: npx jest